*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  min-inline-size: 375px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a,
button {
  color: inherit;
  font: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}
